* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 57.5% 1fr;
    min-height: 100vh;
}

#conteudo {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#foto {
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilo contido originalmente no arquivo html. Avaliar se será removido, substituido ou mantido.*/

#rodape{ font-size: 11px; text-align: center; }
#rodape a { color: hsl(228, 45%, 44%); }
