* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 57.5% 1fr;
    min-height: 100vh;
}

#conteudo {
    background: url(images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    /*background-size: cover;*/
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 10.2rem;
}

h1 {
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.2rem;
    letter-spacing: 1.1rem;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
/*#bloco-texto {
    max-width: 27rem;
}*/


#corpo-texto  {
    color: hsl(0, 36%, 70%);
    margin-top: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

#email {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

#end-email {
    background-color: rgba(255, 255, 255, 0);
    width: 24rem;
    padding: 1.3rem 1.7rem;
    border-radius: 5rem;
    border-color: hsla(0, 36%, 70%, 0.818);
    border-style: solid;
    border-width: 0.02rem;
    font-family: 'Josefin Sans', sans-serif;
}

::placeholder {
    color: hsla(0, 36%, 70%, 0.818);
}

label {
    
    position: absolute;
    z-index: 3;
}
#btn {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));;
    display: flex;
    height: 3.5rem;
    width: 6.8rem;
    position: absolute;
    z-index: 4;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;

}    

#foto {
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.conteudo-footer {
    position: relative;
    bottom: -10rem
}

#texto-rodape { 
    color: hsl(0, 6%, 24%);
    font-size: 11px; 
    text-align: center; 
}

#texto-rodape a { 
    color: hsl(0, 36%, 70%); 
}

@media screen and (max-width: 960px) {

}
