* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 57.5% 1fr;
    min-height: 100vh;
}

#conteudo {
    background: url(images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    /*background-size: cover;*/
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 10.2rem;
}

h1 {
    color: hsl(0, 6%, 24%);
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.2rem;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

#corpo-texto  {
    color: hsl(0, 36%, 70%);
    margin-top: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

#email {
    display: flex;
    margin-top: 3rem;
}

#end-email {
    background-color: transparent;
    width: 15rem;
    padding: 1.3rem 3rem 1.3rem 1.7rem;
    border-color: hsla(0, 36%, 70%, 0.818);
    border-width: 0.02rem;
    border-radius: 5rem;
    border-style: solid;
    font-family: 'Josefin Sans', sans-serif;
}

::placeholder {
    color: hsla(0, 36%, 70%, 0.818);
}

label {
    
    position: absolute;
    z-index: 3;
}

#div-btn {
    position: relative;
    width: 24rem;
}

#btn {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));;
    display: flex;
    position: absolute;
    height: 3.5rem;
    width: 6.8rem;
    left: 17rem;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    z-index: 4;
} 

#btn-enviar {
    padding: 1rem 3rem;
}

button:focus {
    opacity: 0.5;
}

.input span.error {
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    padding: 0;
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4rem;
}

#foto {
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.conteudo-footer {
    position: relative;
    bottom: -10rem
}

#texto-rodape { 
    color: hsl(0, 6%, 24%);
    text-align: center; 
    font-size: 11px; 
}

#texto-rodape a { 
    color: hsl(0, 36%, 70%); 
}

@media screen and (max-width: 970px) {
    #conteudo {
        padding: 4rem;
    }

    #end-email {
        width: 20rem;
    }

    label {
        margin-right: 1rem;
    }

    #btn {
        left: 18rem;
    }
}

@media screen and (max-width: 760px){
    body {
        display: inherit;
        min-height: 100vh;
        min-width: 103vw;
    }

    #conteudo {
        background-size: cover;
        display: flex;
        flex-direction: column;
        min-height: 111vh;
        padding: inherit;
    }

    #logo {
        height: 1.5rem;
        width: 6.9rem;
        padding: 2rem 0 2rem 2.3rem;
    }

    #bloco-texto {
        display: flex;
        flex-direction: column;
        height: 50rem;
        align-items: center;
        text-align: center;
    }

    #foto-mobile {
        background-image: url(./images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 16.3rem;
        width: 100%;
    }

    h1 {
        margin: 4.8rem 1rem 0 1rem;
        font-size: 2.8rem;
        line-height: 3rem;
        letter-spacing: 0.8rem;
    }

    #corpo-texto {
        line-height: 1.5rem;
        max-width: 22rem;
        margin: 1.3rem 1rem 0 1rem;
    }

    #email {
        display: flex;
        margin-top: 3rem;
    }

    #end-email {
        max-width: 16rem;
        padding: 1.15rem 1.7rem;
    }

    label {
        width: 100%;
        left: 0rem;
        margin-right: 0;
    }

    #div-btn {
        position: relative;
        width: 20rem;
    }

    #btn {
        width: 4.8rem;
        height: 3.2rem;
        left: 15rem;
        margin-right: 0;
    }

    #btn-enviar {
        padding: 1rem 2rem;
    }

    .conteudo-footer {
        bottom: -7rem;
    }

    #texto-rodape {
        max-width: 12rem;
    }
}
